.MessageList {
  flex-grow: 1;
  background-color: #0c1c3f; /* Lighter blue */
  overflow-y: auto; /* Scrollable list */
  padding: 10px 20px;
}

.Message {
  background: #333;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
}

.MessageContent {
  color: #ddd;
}

.MessageAuthor {
  color: #bbb;
  font-size: 0.8em;
  text-align: right;
}
