.MainView {
  width: 90%;
  max-width: 600px; /* Set max-width for large screens */
  background: #122340; /* Darker blue */
  border-radius: 8px;
  overflow: hidden; /* Ensures the child components don't overflow */
  display: flex;
  flex-direction: column;
  height: 80vh; /* Adjust based on your preference */
}
