/* General styles */
body,
h1,
h2,
h3,
p,
button,
input,
textarea {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
textarea {
  outline: none;
}

button {
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: #182e59;
}

form {
  width: 95%;
  margin: 10px;
}

input {
  background-color: #182e59;
  height: 60px;
  font-size: larger;
}

/* Main application styles */
.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: #041a45;
}

.main-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 360px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #041a45;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
}

/* Message board */
.message-board {
  display: flex;
  flex-direction: column;
  width: 110%;
  max-width: 900px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.message {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  max-width: 600px;
  margin-top: 20px;
}

.message:last-child {
  border-bottom: none;
}

.message-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.message-username {
  font-weight: bold;
  color: #333333;
}

.message-time {
  color: #666666;
  font-size: 0.875rem;
}

.message-text {
  color: #333333;
  margin-bottom: 20px;
}

/* Message form */
.message-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.username-input,
.text-input {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  padding: 10px;
  color: rgb(144, 139, 139);
}

.text-input {
  height: 300px;
  resize: none;
  margin-bottom: 60px;
  border: none;
  font-size: larger;
}

.submit-button {
  background-color: #ff4500;
  color: black;
  width: 100%;
  padding: 18px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
}

/* Toggle view button */
.toggle-view {
  background-color: #005a9c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.write-msg-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 5px;
  position: fixed;
  bottom: 60px;
  right: 260px;
}

.shui-logo-container {
  margin-right: 250px;
}
