.Message {
  background-color: #f3f3f3; /* Light background for messages */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: #333; /* Dark text color */
}

.Message p {
  margin: 0 0 5px 0;
}

.Message span {
  display: block;
  text-align: right;
  color: #777;
  font-size: 0.8em;
}
